.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Player CSS*/
.actionbutton{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: white;
}

.actionbutton.play{
  background: #2196F3;
}

.actionbutton.stop{
  background: #FF1744;
}

/* end player css */

/* Bottom Navigation Bar */
.bottom-nav-container{
  position: fixed;
  bottom:0;
  height: 60px;
  width: 100%;
  border-top: #f5f5f5;
}

.bottom-nav-list{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  height: 60px;
  cursor: pointer;
}

.bottom-nav-item{
  display: inline;
  flex: 1 1 0%;
  text-align: center;
  max-width: 200px;
  padding-top: 10px;
}

.bottom-nav-item--caption{
  font-size: 11px;
  margin-top: 0px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}

.bottom-nav-item--active, .bottom-nav-item--active a{
  color: #4A90E2;
  text-decoration: none;
}

.bottom-nav-item--inactive, .bottom-nav-item--inactive a{
  color: #929292;
  text-decoration: none;
}

.pointer{
  cursor: pointer;
}

a{
  text-decoration: none !important;
}

a:hover{
  text-decoration: none !important;
}

.stat-box{
  margin: 1em 0;
  padding: 1em;
}